[Desktop Entry]
Type=Application
Name=Arduino Eclipse IDE V2
GenericName=Ecliplse Kepler C/C++ Framework
Exec=eclipse
Icon=/opt/arduino-1.5.6-r2/reference/img/logo.png
StartupNotify=true
Terminal=false
Categories=Development
Comment=Ecliplse Kepler C/C++ Framework
