[Desktop Entry]
Type=Application
Name=Arduino IDE 1.5.6-r2
GenericName=Arduino IDE 1.5.6-r2
Exec=arduino
Icon=/opt/eclipse/icon.xpm
StartupNotify=true
Terminal=false
Categories=Development
Comment=Beta release with support for Arduino Yún and Arduino Due boards
